.ty-product-options__more-colors {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  min-height: 40px;
}
.ut2-gl__content > div.ut2-gl__price-wrap:not(:empty) {
  justify-content: flex-start !important;
}